
{{burger_name}}

	<button class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Remake!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">X</button>

